In [ ]:
def func(**kwargs):
    print(kwargs)
    
func(**{'city': 'ibadan', 'l_name': 'obarotu'})

In [100]:
def user(f_name, l_name, age, dob, phone_no, country, **user_info):
    "Returns a dictionary of user data"
    user_info['f_name'] = f_name
    user_info['l_name'] = l_name
    user_info['age'] = age
    user_info['dob'] = dob
    user_info['phone_no'] = phone_no
    user_info['country'] = country     
    return(user_info)

In [67]:
peter = user('peter', 'obarotu',22, '12-12-12', '09079303775', city='ibadan', next_of_kin='Trump' )
peter

{'city': 'ibadan',
 'next_of_kin': 'Trump',
 'f_name': 'peter',
 'l_name': 'obarotu',
 'age': 22,
 'dob': '12-12-12',
 'phone_no': '09079303775',
 'country': 'nigeria'}

In [1]:
def text_processor(text):
    info = {}
    for kv in text.split(','):
        key = kv.split('=')[0].strip()
        value = kv.split('=')[1].strip()
        info.update({key:value})
    return info

In [2]:
info=text_processor('first_name=peter, location=ibadan, spouse=ruby, next of kin=Trump')
info

{'first_name': 'peter',
 'location': 'ibadan',
 'spouse': 'ruby',
 'next of kin': 'Trump'}

In [16]:
import random

In [74]:
rand_sample = random.sample(list('1234567890'), k=6)
rand_sample

['0', '6', '4', '8', '1', '7']

In [75]:
list('1234567890')

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [76]:
rand_sample = random.sample(list('1234567890'), k=4)
rand_sample

['3', '7', '8', '0']

In [77]:
''.join(rand_sample)

'3780'

In [78]:
'-'.join(rand_sample)

'3-7-8-0'

In [79]:
'dc22'+''.join(rand_sample)

'dc223780'

In [150]:
import random
def generate_mat_no(lead_value, k=4):
    rand_sample = random.sample(list('1234567890'), k=k)
    return lead_value + ''.join(rand_sample)

In [81]:
generate_mat_no('dc22')

'dc226750'

In [69]:
database = {}
key = generate_mat_no('dc22')
database[key] = peter

In [70]:
database

{'dc226451': {'city': 'ibadan',
  'next_of_kin': 'Trump',
  'f_name': 'peter',
  'l_name': 'obarotu',
  'age': 22,
  'dob': '12-12-12',
  'phone_no': '09079303775',
  'country': 'nigeria'}}

In [117]:
def register_user():   
    print("All asterisk field must be filled")
    f_name = input('Enter first name*: ')
    l_name = input('Enter last name*: ')
    middle_name = input('Enter middle name: ')
    age = int(input('Enter your age*: '))
    dob = input('Enter date of birth in this format "DD-MM-YY"*: ')
    phone_no = input('Phone Number*: ')
    country = input('Country (Nigeria by default): ')
    prompt = 'Enter additional information in the following format:\n city=abuja, next of kin=Trump '
    text = input(prompt)
    
    #Calls the text_processor function. Returns a dictionary of additional information
    add_info = text_processor(text)
    
    #Add middle_name to add_info, if it's provided
    if middle_name:
        add_info['middle_name'] = middle_name  
    if country:
        country = country
    else:
        country = 'Nigeria'
    #Calls the 'user' function. Unpacks 'add_info' with double star operator
    student = user(f_name, l_name, age, dob, phone_no, country, **add_info)
    mat_no = generate_mat_no('DC22')
    while mat_no in database:
        mat_no = generate_mat_no('DC22')              # regenerate a new mat_no  
        
    database[mat_no] = student
    print("Registration successful")
    print(f"{student['f_name'].title()}, your Matriculation number is {mat_no}")

In [102]:
database = {'DC221111':{'f_name':'john',
                      'l_name':'diggle',
                      'age':18},
            'DC222222':{'f_name':'lebron',
                      'l_name':'james',
                      'age':21},
            'DC223333':{'f_name':'kenny',
                      'l_name':'newton',
                      'age':20},
           }

register_user()

All asterisk field must be filled
Enter first name*: obarotu
Enter last name*: urhuerhi
Enter middle name: peter
Enter your age*: 11
Enter date of birth in this format "DD-MM-YY"*: 12-12-12
Phone Number*: 09079303775
Country (Nigeria by default):
Enter additional information in the following format:
 city=abuja, next of kin=Trump city=ibadan
Registration successful
Obarotu, your Matriculation number is DC229186

In [103]:
database

{'DC221111': {'f_name': 'john', 'l_name': 'diggle', 'age': 18},
 'DC222222': {'f_name': 'lebron', 'l_name': 'james', 'age': 21},
 'DC223333': {'f_name': 'kenny', 'l_name': 'newton', 'age': 20},
 'DC229186': {'city': 'ibadan',
  'middle_name': 'peter',
  'f_name': 'obarotu',
  'l_name': 'urhuerhi',
  'age': 11,
  'dob': '12-12-12',
  'phone_no': '09079303775',
  'country': 'Nigeria'}}

In [ ]:
database = {'DC221111':{'f_name':'john',
                      'l_name':'diggle',
                      'age':18},
            'DC222222':{'f_name':'lebron',
                      'l_name':'james',
                      'age':21},
            'DC223333':{'f_name':'kenny',
                      'l_name':'newton',
                      'age':20},
           }

In [106]:

science = ['english', 'mathematics', 'biology', 'economics', 'geography', 'physics', 'chemistry']
commercial = ['english', 'mathematics', 'biology', 'economics', 'commerce','accounting', 'geography']
art = ['english', 'mathematics', 'biology', 'economics', 'government', 'literature', 'history']

print('Register as a new student or register your courses as Old student')
res = input('Register as a new student [y/n]: ')
if res.lower() == 'n':
    mat_no = input('Please enter your Matriculation Number to login in: ')
    if mat_no in database:
        rec = database[mat_no]
        f_name = rec['f_name']
        print(f"Welcome {f_name.title()}! Please register your courses")

        dept = input('Specify your class.\nEnter 1 for Science, 2 for Commercial, 3 for Art: ')
        dept = int(dept)
        submitted_subjects = input('Enter subjects for registration.\nSeperate each subject with a comma: ')
        submitted_subjects = submitted_subjects.split(',')


        if dept == 1:
            available_subjects = science
        elif dept == 2:
            available_subjects = commercial
        elif dept == 3:
            available_subjects = art

        if submitted_subjects:
            print('\n')
            for submitted_subject in submitted_subjects:
                if submitted_subject.lower() not in available_subjects:
                    print(f"There won't be {submitted_subject.title()} classes or exams for the current term.")
                else:
                    print(f'{submitted_subject.title()} has been registered as part of your courses for the term')
            print(f'\nAll available subjects submited has been registerd. Success in your exams!') 

        else:
            print(f"\nMinimum of one subject must be submitted for registration!")
    else:
        print('No student with this Matriculation number. Ensure you enter the correct Number')

elif res.lower() == 'y':
      register_user()

Register as a new student or register your courses as Old student
Register as a new student [y/n]: n
Please enter your Matriculation Number to login in: DC228412
Welcome Obarotu! Please register your courses
Specify your class.
Enter 1 for Science, 2 for Commercial, 3 for Art: 1
Enter subjects for registration.
Seperate each subject with a space: english mathematics chemistry


English has been registered as part of your courses for the term
Mathematics has been registered as part of your courses for the term
Chemistry has been registered as part of your courses for the term

All available subjects submited has been registerd. Success in your exams!

In [105]:
database

{'DC221111': {'f_name': 'john', 'l_name': 'diggle', 'age': 18},
 'DC222222': {'f_name': 'lebron', 'l_name': 'james', 'age': 21},
 'DC223333': {'f_name': 'kenny', 'l_name': 'newton', 'age': 20},
 'DC228412': {'city': 'ibadan',
  'middle_name': 'peter',
  'f_name': 'obarotu',
  'l_name': 'urhuerhi',
  'age': 12,
  'dob': '12-12-12',
  'phone_no': '09079303775',
  'country': 'Nigeria'}}

In [139]:
s = 'english,            mathematics,         fine art'
s.replace(' ', '').split(',')

['english', 'mathematics', 'fineart']

In [116]:
set(s.split(',')).intersection(science)

{'english', 'mathematics'}

In [145]:
student_records = {}        # A database for each students registered courses

In [146]:
def register_courses(mat_no):
    """Register a student courses """
    if mat_no in database:
        rec = database[mat_no]
        f_name = rec['f_name']
        print(f"Welcome {f_name.title()}! Please register your courses")

        dept = input('Specify your class.\nEnter 1 for Science, 2 for Commercial, 3 for Art: ')
        dept = int(dept)
        submitted_subjects = input('Enter subjects for registration.\nSeperate each subject with a comma: ')
        submitted_subjects = submitted_subjects.replace(' ', '').split(',')

        if dept == 1:
            available_subjects = science
        elif dept == 2:
            available_subjects = commercial
        elif dept == 3:
            available_subjects = art

        if submitted_subjects:
            print('\n')
            for submitted_subject in submitted_subjects:
                if submitted_subject.lower() not in available_subjects:
                    print(f"There won't be {submitted_subject.title()} classes or exams for the current term.")
                else:
                    print(f'{submitted_subject.title()} has been registered as part of your courses for the term')
            # Get all unique submitted subjects that are available and stores it in student_records.
            submitted_available = set(submitted_subjects).intersection(available_subjects)
            student_records[mat_no] = list(submitted_available)
            
            print(f'\nAll available subjects submited has been registerd. Success in your exams!') 
        else:
            print(f"\nMinimum of one subject must be submitted for registration!")
    else:
        print('No student with this Matriculation number. Ensure you enter the correct Number')

In [151]:
import random
science = ['english', 'mathematics', 'biology', 'economics', 'geography', 'physics', 'chemistry']
commercial = ['english', 'mathematics', 'biology', 'economics', 'commerce','accounting', 'geography']
art = ['english', 'mathematics', 'biology', 'economics', 'government', 'literature', 'history']

print('Register as a new student or register your courses as Old student')
res = input('Register as a new student [y/n]: ')
if res.lower() == 'n':
    mat_no = input('Please enter your Matriculation Number: ')
    register_courses(mat_no)
elif res.lower() == 'y':
      register_user()

Register as a new student or register your courses as Old student
Register as a new student [y/n]: n
Please enter your Matriculation Number: ddd
No student with this Matriculation number. Ensure you enter the correct Number

In [143]:
mat_no = 'DC228412'
database[mat_no]

{'city': 'ibadan',
 'middle_name': 'peter',
 'f_name': 'obarotu',
 'l_name': 'urhuerhi',
 'age': 12,
 'dob': '12-12-12',
 'phone_no': '09079303775',
 'country': 'Nigeria'}

In [149]:
student_records[mat_no]

['mathematics', 'english', 'biology']